<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>{{ page.title }} - Will Moyer</title>

	<meta content="width=device-width, initial-scale=1.0" name="viewport" />

	<meta name="description" content="{% if page.description %}{{ page.description }}{% else %}The personal site of Will Moyer{% endif %}">

	<link rel="alternate" type="application/rss+xml" title="{{ site.name }}" href="{{ site.url }}/feed.xml">

	<link rel="author" href="https://plus.google.com/100396920338114277569">

	<meta name="twitter:site" content="@willmoyer"/>
	<meta name="twitter:domain" content="Will Moyer"/>
	<meta name="twitter:creator" content="@willmoyer"/>
	<meta name="twitter:card" content="summary_large_image">
	<meta name="twitter:title" content="{{ page.title }}">
	<meta name="twitter:description" content="{{ page.description }}">
	<meta name="twitter:image" content="{{ site.url }}/assets/{{ page.image }}">

	<meta property="og:title" content="{{ page.title }}" />
	<meta property="og:image" content="{{ site.url }}/assets/{{ page.image }}" /> 
	<meta property="og:description" content="{{ page.description }}" /> 

	<link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,400,700,200italic,400italic,700italic|Abril+Fatface' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="/css/style.css">

</head>
<body>
	{{ content }}
	<footer class="footer">
		<div class="container container--wide">
			<p class="footer__about">Hi, I&rsquo;m Will Moyer. This is my personal site. <br>You can follow me on <a href="https://twitter.com/willmoyer/">Twitter</a>.</p>
			<ul class="nav nav--stacked nav--footer">
				<li><a href="/">Home</a></li>
				<li><a href="/about/">About</a></li>
				<li><a href="/articles/">Articles</a></li>
				<li><a href="/portfolio/">Portfolio</a></li>
			</ul>
		</div>
	</footer>
	<script>
    var _gaq=[['_setAccount','UA-6997846-5'],['_trackPageview']];
    (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
    g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
    s.parentNode.insertBefore(g,s)}(document,'script'));
  </script>		
</body>
</html>