---
layout: default
---		

		<div class="desk-hide container container--tight">
			<h1 class="margin-ts">{{ page.title }}</h1>
		</div>		
		
		<header class="cover">
			<img class="cover__img" src="/assets/{{ page.image }}" alt="{{ page.title }}">
			<h1 class="cover__title">{{ page.title }}</h1>
		</header>

		<div class="container">
			<div class="margin-b">
			{{ content }}
			</div>	
			<p class="zeta text-center gray"><em>Published on {{ page.date | date: "%B %e, %Y" }}<br>Cover image: {{ page.caption }}</em></p>
		</div>

